/* Colors */
:root {
    //Primary
    --color-blue: hsl(223, 87%, 64.5%); 

    //Secondary
    --color-pale-blue: hsl(223, 100%, 88%);
    --color-pale-blue2: hsl(223, 59%, 82%);
    --color-light-red: hsl(0, 43%, 1%);

    //Neutral
    --color-gray: hsl(0, 0%, 59%);
    --color-very-darkblue: hsl(209, 33%, 12%);
    --color-white: #fff;
  }